.navbar-custom {
    background-color: #004bff;
    color: #fff;
}
.navbar-brand img {
    height: 50px;
}
.header-text {
    font-size: 20px;
    font-weight: bold;
    color: #000;
}
.banner {
    background-color: #cccccc;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner img {
    width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.background {
    background-image: url('background.jpg'); /* Jalur file gambar */
    background-size: cover; /* Memastikan gambar menutupi seluruh area div */
    background-position: center; /* Memusatkan gambar */
    background-repeat: no-repeat; /* Mencegah gambar diulang */
}
